{% extends "base.html" %} 

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>제목</th>

                    <th>일시</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                <tr>
                    <th>1</th>
                    <td>제목 테스트</td>

                    <td>2020-04-02 21:28:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">글쓰기</button>
    </div>
</div>
{% endblock %}