{% extends "base.html" %}

{% block contents %}
    <h2>Files</h2>

    <p>
        <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload_file</a>
    </p>
    <table class="table mb-0"> 
        <thead>
            <tr>
                <th>Title</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.title }} </td>
                    <td>{{ file.pdf }} </td>
                    <td>
                        <a href="{{ file.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                            Download PDF
                        </a>
                    </td>
                    <!-- <td>{{ file.pdf }} </td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}