{% extends "base.html" %}

{% block contents %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">SnapNote</a>

    </div>
</nav>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>파일 업로드</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Send" />

        </form>
    </div>
</div>
{% endblock %}